{
  "presets": ["@babel/preset-flow", "@babel/preset-env"],
  "plugins": ["@babel/plugin-proposal-class-properties", "@babel/plugin-transform-runtime"],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    },
    "prod": {
      "presets": [
        [
          "minify",
          {
            "evaluate": false,
            "mangle": true
          }
        ]
      ]
    }
  }
}
